$black: #292D32;
$white: #fff;
$gray-100: #4D545A;
$gray-200: #626C76;
$gray-300: #828F9A;
$gray-400: #8F9CA7;
$gray-600: #E3EAF3;
$gray-700: #F5F7FA;
$gray-800: #F7F8FB;
$purple: #6C70DC;
$success: #53D56C;
$warning: #F39C12;

$text-color: $black;
$text-muted: $gray-300;
$bg-color: $gray-800;
$selected-nav: $purple;
$border-color: $gray-600;

$padding-section: 30px;
$form-field-h: 46px;
$form-field-padding: 0.5rem 0.875rem;
